@tailwind base;
@tailwind components;
@tailwind utilities;


/* shared componenets */
@layer components{
  .btn{
    @apply py-1 px-3 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 disabled:opacity-50 disabled:cursor-default;
  }

  .btn--inverse {
    @apply py-1 px-3 bg-transparent border-green-500 border text-green-500 font-semibold rounded-lg hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 disabled:opacity-50 disabled:cursor-default;
  }

  .btn[disabled] {
    @apply hover:bg-green-500;
  }


  }

/* animations */
  /* alert */
  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

