
@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --primary: #1ba39c;
  --secondary: #b54163;
}

/* shared components */
@layer components{
  .btn{
    @apply py-1 px-3 bg-green-500 text-white font-semibold shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 disabled:opacity-50 disabled:cursor-default disabled:pointer-events-none;
  }

  .btn:enabled:hover{@apply filter-hue-rotate}

  .btn--inverse {
    @apply py-1 px-3 bg-transparent border-green-500 border text-green-500 font-semibold hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 disabled:opacity-50 disabled:cursor-default;
  }
}

/* animations */
  /* alert */
  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }


  /* fade */
  .fade-appear {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 240ms linear;
  }
  
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 240ms linear 240ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 240ms linear;
  }
  
  .fade-exit-done {
    opacity: 0;
  }


/* heart beat */

  .animate__heartBeat  {
    
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }


  @keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
