.side-drawer {
    left: -3px;
    right: 0;
    z-index: 40;
    height: 100vh;
    top: -3px;
    width: 300px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}


.side-drawer > .side-drawer-inner {
    width: 300px;
    position: fixed;
    height: 100%;
    background: white;
}

